<?xml version="1.0"?>
<launch>

	<!-- Starting ros0xrobot after robot_localization ensures that the initial imu pose does not get rejected -->
	<include file="$(find ros0xrobot)/launch/ros0xrobot_minimal.launch"/>
	<!-- <node pkg="fake_odom" type="fake_odom_node" name="ros0xrobotNode_fake" clear_params="true"/> -->

	<!-- Collecting Scans for Mapping -->
	<include file="$(find rplidar_ros)/launch/firebird_delta_rplidar.launch"/>

	<!-- Mapping Node -->
	<!--<node name="global_mapper" pkg="global_mapper" type="global_mapper_node" output="screen" >
		<remap from="/real_map" to="/map"/>
	</node>
	<node pkg="tf2_ros" type="static_transform_publisher" name="bl_to_tv_broadcaster" args="6.30 3.20 0 1.57079 3.14159 0 base_link top_view"/>-->
	<!--<node name="lidar_mapping_node" pkg="lidar_mapping" type ="lidar_mapping_node">
		<remap from="/lidar_map" to="/map"/>
	</node>-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom"/>
	<!-- <node name="gmapping_node" pkg="gmapping" type ="slam_gmapping">
		<param name="xmin" type="double" value="-20.0"/>
		<param name="ymin" type="double" value="-20.0"/>
		<param name="xmax" type="double" value="20.0"/>
		<param name="ymax" type="double" value="20.0"/>
		<param name="map_update_interval" type="double" value="1.0"/>
		<param name="maxUrange" type="double" value="10.0"/>
		<param name="throttle_scans" type="int" value="2"/>
		<param name="linearUpdate" type="double" value="0.2"/>
		<param name="angularUpdate" type="double" value="0.2"/>
		<param name="temporalUpdate" type="double" value="1.0"/>
		<remap from="/scan" to="/scan_1"/>
	</node> -->
	<include file="$(find cartographer_ros)/launch/backpack_2d.launch"/>
	<param name="particles" type="int" value="500"/>
	<param name="gmap_width" type="int" value="60"/>
	<param name="gmap_height" type="int" value="60"/>
	<param name="lmap_width" type="int" value="60"/>
	<param name="lmap_height" type="int" value="60"/>
	<!--<node pkg="slam" type="slam_node" name="test" output="screen">
		<remap from="scanmatch_odom" to="ros0xrobot/odom"/>
	</node>-->
	<!-- Starting the costmap node -->
	<node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node">
		<rosparam file="$(find costmap_2d)/launch/cc_rrt_params.yaml" command="load" ns="costmap"/>
	</node>

	<!-- Starting the main path planning node -->
	<param name="max_nodes" type="int" value="1000"/>			<!-- maximum required nodes in tree -->
	<param name="max_iterations" type="int" value="100000"/>	<!-- maximum allowable iterations for CC-RRT -->
	<param name="delta_step" type="double" value="1.0"/>		<!-- RRT step size, in metres -->
	<param name="max_angle" type="double" value="20.0"/>		<!-- maximum desired turning angle, in degrees -->
	<param name="vehicle_speed" type="double" value="0.10"/>	<!-- expected speed -->
	<param name="vehicle_turn_rate" type="double" value="0.25"/>	
	<param name="publishing_freq" type="double" value="0.25"/>	<!-- expected turn rate -->
	<rosparam param="goal_position">[8.0, 0.0]</rosparam>		<!-- goal co-ordinates (x, y) in m (in base_link) -->
	
	<node name="rrt_planner_node" pkg="rrt_planner" type="rrt_planner_node" output="screen">
		<remap from="odom" to="odometry/filtered"/>
		<remap from="cfg_space" to="costmap_node/costmap/costmap"/>
	</node>

	<!-- Control (Manual/Automatic) -->
	<!--<include file="$(find ros0xrobot)/launch/ros0xrobot_teleop.launch"/>-->
	<!--<rosparam param="utm">[423364.83, 2932889.48]</rosparam>
	<node name="waypoint_to_path_node" pkg="waypoint_to_path" type ="waypoint_to_path_node">
		<remap from="odom" to="odometry/filtered"/>
	</node>-->

	<node name="unicycle_controller_node" pkg="unicycle_controller" type ="unicycle_controller_node">
		<remap from="cmd_vel" to="ros0xrobot/cmd_vel"/>
		<remap from="odom" to="odometry/filtered"/>
		<remap from="path" to="path/smooth"/>
	</node>

	<!-- Visualization -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_localization)/rviz/sensor_fusion.rviz" output="screen"/>
	
</launch>
